<nav class="navbar" *ngIf="!isAdmin()" >

  <div class="logo">
    🏦 Bank System
  </div>

  <ul class="nav-links">

    <li>
      <a routerLink="/dashboard" routerLinkActive="active">
        Home
      </a>
    </li>

    <li>
      <a routerLink="/apply-loan" routerLinkActive="active">
        Apply Loan
      </a>
    </li>

    <li>
      <a routerLink="/my-loan" routerLinkActive="active">
        My Loans
      </a>
    </li>

    <li *ngIf="isAdmin()">
      <a routerLink="/admin" routerLinkActive="active">
        Admin
      </a>
    </li>

  </ul>

</nav>

